<div class="row">
  <div class="col-md-10 blog-main">
    <div class="blog-post mt-4">
      <h1 class="blog-post-title border-bottom">Titulo</h1>
      <p>DESCRIPCION</p>
      <blockquote>
        <h2>Preparacion</h2>
        <p>Preparacion Receta</p>
      </blockquote>
      <h2>Ingredientes</h2>
      <p>Ingredientes Receta</p>
    </div>
  </div>
  <div class="col-m2-2">
    <div class="btn-group pull-right mt-4">
      <a class="btn btn-dark">Editar</a>
      <a class="btn btn-danger" (click)="onClickDelete()">Borrar</a>
    </div>
  </div>
</div>
