<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-2">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Recetas increibles</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
   </div>
</div>

<div class="col p-4 d-flex flex-column position-static" *ngFor="let x of recetas">
  <strong class="d-inline-block mb-2 text-primary">{{x.temporada}}</strong>
  <h3 class="mb-0">{{x.titulo}}</h3>
  <div class="mb-1 text-muted">{{x.fechaPublicacion}}</div>
  <p class="card-text mb-auto">{{x.descripcion}}</p>
  <a href="#" class="stretched-link">Leer Mas</a>
</div>

 